{
	"presets": [
		[
			"env", {
				"modules": false,
				"targets": {
					"browser": ["> 2%"]
				}
			}
		]
	],
	"plugins": ["transform-runtime"],
	"env": {
		"test": {
			"presets": ["env"],
			"plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node"]
		}
	}
}
