.page
    .yd-navbar
        height 44px !important
        line-height 44px
        background-color #f5f5f5 !important
        .yd-navbar-center-box
            height 44px !important
            .yd-navbar-center-title
                font-size 14px !important
                